<!DOCTYPE html>
<html xmlns:=http://www.w3.org/1999/xhtml>
<head>
	{{> meta}}
	<title>Diet Application</title>
</head>
<body>
<section class="container">
	<div>
		<h1>Diet Application</h1>
		<h2></h2>
	</div>
	<div>
		<ul>
			<li><a href="/registration">Rejestracja</a></li>
			<li><a href="/login">Logowanie</a></li>
		</ul>
	</div>
</section>
</body>
</html>