
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div>
			<ol class="breadcrumb">
				<li><a th:href="@{/product/productList}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Go back</a></li>
				<li><a th:href="@{/product/updateProduct?id=}+${product.id}">Edit</a></li>
			</ol>
			
		</div>
		
		<div class="row">
			<div class="col-xs-3">
				<div class="panel panel-default">
				<div class="panel-body">
<!--					<img th:src="@{/image/product/}+${product.id}+'.png'" class="img-responsive center-block" />-->
				</div>
				</div>
			</div>
			<div class="col-xs-9">
				<h3 th:text="${product.title}"></h3>
				<div class="row">
					<div class="col-xs-6">
						<p><strong>Note: </strong><span th:text="${product.note}"></span></p>
						<p><strong>Calories: </strong><span th:text="${product.calories}"></span></p>
<!--						<p><strong>Publication Date: </strong><span th:text="${product.publicationDate}"></span></p>-->
<!--						<p><strong>Language: </strong><span th:text="${product.language}"></span></p>-->
						<p><strong>Category: </strong><span th:text="${product.category}"></span></p>
<!--						<p><strong>Pages: </strong><span th:text="${product.numberOfPages}"></span></p>-->
					</div>
					<div class="col-xs-6">
						<p><strong>Total Fat: </strong><span th:text="${product.totalFat}"></span></p>
						<p><strong>Total Carbohydrates: </strong><span th:text="${product.totalCarbohydrate}"></span></p>
						<p><strong>Protein: </strong><span th:text="${product.protein}"></span></p>
						<p><strong>Sodium: </strong><span th:text="${product.sodium}"></span></p>
<!--						<p><strong>Our Price: </strong><span th:text="${product.ourPrice}"></span></p>-->
<!--						<p><strong>Number in Stock: </strong><span th:text="${product.inStockNumber}"></span></p>-->
					</div>
				</div>
				
<!--				<p><Strong>Description: </Strong><span th:utext="${product.description}"></span></p>-->
			</div>
			
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
