.App {
  text-align: center;
}

.App_content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  color: white;
}

.auth_container {
    position: fixed;
    left: 40%;
    top: 10%;
}

.card {
  background-color: #484848;
  padding: 5%;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 58vh;
}

.input_field {
  margin: 10px !important;
  padding: 10px !important;
  background-color: bisque;
  border-radius: 10px;
  border: 0;
}

.form_button {
  width: 100%;
  font-size: 20px;
  color: #bdbdbd;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 8px;
  background: linear-gradient(to right, #1d7591, #159687, #1d7591);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.tab {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 20px;
    background-color: #8a7666;
    color: rgba(189, 189, 189, 0.61);
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
    border: 0;
    cursor: pointer;
}

.first_tab {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.last_tab {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.tabs_area {
    height: 6vh;
    background-color: #8a7666;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 50px;
}

.current_tab {
    /*width: 60%;*/
    background: linear-gradient(to right, #1d7591, #159687, #1d7591);
    color: #bdbdbd;
    border-radius: 50px;
}

.logo {
  margin-bottom: 10px;
  padding: 2%;
  font-size: xx-large;
  /*color: rgba(210, 180, 140, 0.76);*/
  color: rgba(216, 191, 216, 0.81);
  letter-spacing: 15px;
}

.app_bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.user_avatar {
    margin-left: auto;
    margin-right: auto;
}

.user_bottom_navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .auth_container {
        left: 30%;
    }
}

@media screen and (max-width: 650px) {
    .auth_container {
        left: 20%;
    }
}

@media screen and (max-width: 530px){
    .auth_container {
        left: 15%;
    }
}