.App {
  text-align: center;
}

.App_content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  color: white;
}

.auth_container {
    position: fixed;
    left: 40%;
    top: 10%;
}

.card {
  background-color: #484848;
  padding: 5%;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 58vh;
}

.input_field {
  margin: 10px !important;
  padding: 10px !important;
  background-color: bisque;
  border-radius: 10px;
  border: 0;
}

.form_button {
  width: 100%;
  font-size: 20px;
  color: #bdbdbd;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 8px;
  background: linear-gradient(to right, #1d7591, #159687, #1d7591);
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.tab {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 20px;
    background-color: #8a7666;
    color: rgba(189, 189, 189, 0.61);
    font-weight: bold;
    margin-bottom: 10px;
    padding: 8px;
    border: 0;
    cursor: pointer;
}

.first_tab {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.last_tab {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.tabs_area {
    height: 6vh;
    background-color: #8a7666;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 50px;
}

.current_tab {
    /*width: 60%;*/
    background: linear-gradient(to right, #1d7591, #159687, #1d7591);
    color: #bdbdbd;
    border-radius: 50px;
}

.logo {
  margin-bottom: 10px;
  padding: 2%;
  font-size: xx-large;
  /*color: rgba(210, 180, 140, 0.76);*/
  color: rgba(216, 191, 216, 0.81);
  letter-spacing: 15px;
}

.app_bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.user_avatar {
    margin-left: auto;
    margin-right: auto;
}

.user_bottom_navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page_container {
    background-color: dimgrey;
    border-radius: 10px;
    padding: 1rem;
    height: 75%;
    min-width: 80%;
    position: absolute;
    bottom: 4rem;
    left: 1.5rem;
    right: 1.5rem;
    /*overflow: auto;*/
}

.toolbar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.products_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    max-height: 56%;
}

.product {
    display: flex;
    justify-content: space-between;
    background-color: lightslategrey;
    border-radius: 10px;
    margin: 0.1rem !important;
    height: 23vh;
    cursor: pointer;
}

.product_name {
    width: max-content;
    color: inherit !important;
}

.product_description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
}

.product_id {
    display: flex;
    align-items: center;
    width: max-content;
}

.product_image_container {
    display: flex;
    align-items: center;
}

.product_image {
    width: 9rem;
    border-radius: 100%;
}

.product_category {
    margin: 0 2rem !important;
}

.product_author {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_author_name {
    margin-left: 0.5rem;
}

.product_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.product_icon_button {
    padding: 2px !important;
}

.product_group_tab:hover {
    background-color: rgba(119, 136, 153, 0.6);
}

.group_center_tab{
    border-left: lightslategrey solid 1px !important;
    border-right: lightslategrey solid 1px !important;
}

.add_button {
    background-color: rgba(0, 0, 0, 0.09) !important;
    color: white !important;
}

.category_select, .author_select {
    color: white !important;
}

.search_input {
    color: white !important;
    margin-right: 1rem;
}

@media screen and (max-width: 800px) {
    .auth_container {
        left: 30%;
    }
}

@media screen and (max-width: 650px) {
    .auth_container {
        left: 20%;
    }
}

@media screen and (max-width: 530px){
    .auth_container {
        left: 15%;
    }
}